* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f5f7ff; /* light background */
  font-family: Arial, Helvetica, sans-serif;
}

